<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.dianshang.dao.SpDao">
<insert id="addSp" parameterType="com.fh.dianshang.entity.po.ShangPin">
    insert into shop_sp (name,title,pzId,imgPath,typeId,productdecs,price,stocks,sortNum,createDate,updateDate,author,isDel) value (
    #{name},#{title},#{pzId},#{imgPath},#{typeId},#{productdecs},#{price},#{stocks},#{sortNum},SYSDATE(),SYSDATE(),'陈大龙',0
    )
</insert>

</mapper>