<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.dianshang.dao.SpDao">
<insert id="addSp" parameterType="com.fh.dianshang.entity.po.ShangPin">
    insert into shop_sp (name,title,pzId,imgPath,typeId,productdecs,price,stocks,sortNum,createDate,updateDate,author,isDel) value (
    #{name},#{title},#{pzId},#{imgPath},#{typeId},#{productdecs},#{price},#{stocks},#{sortNum},SYSDATE(),SYSDATE(),'陈大龙',0
    )
</insert>
<select id="querySpCount" parameterType="com.fh.dianshang.entity.po.ShangPin" resultType="java.lang.Integer">
    select count(*) from shop_sp
</select>
<select id="querySpData" parameterType="com.fh.dianshang.entity.po.ShangPin" resultType="com.fh.dianshang.entity.po.ShangPin">
    select * from shop_sp limit ${size*(start-1)},#{size}
</select>
    <update id="deleteSp" parameterType="java.lang.Integer">
    update shop_sp set isDel=1 where id=#{id}
    </update>
    <update id="updateSp" parameterType="java.lang.Integer" >
        update shop_sp set name=#{name},title=#{title},pzId=#{pzId},imgPath=#{imgPath},typeId=#{typeId},productdecs=#{productdecs},price=#{price},stocks=#{stocks},
         sortNum=#{sortNum},createDate=SYSDATE(),updateDate=SYSDATE(),author='陈大龙'where id=#{id}
    </update>
</mapper>