<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.dianshang.dao.ValDao">
<select id="queryvalDataByIdCount" parameterType="com.fh.dianshang.entity.vo.PinPaiData" resultType="java.lang.Integer">
    select count(*) from shop_value where attrId=#{id}
</select>
    <select id="queryvalDataByIdData" parameterType="com.fh.dianshang.entity.vo.PinPaiData" resultType="com.fh.dianshang.entity.po.Val">
        select * from shop_value where attrId=#{id}  limit ${size*(start-1)},#{size}
    </select>
    <insert id="addVal" parameterType="com.fh.dianshang.entity.po.Val">
        insert into shop_value (vname,vnameCH,attrId,isDel,createDate,updateDate,author) value (#{vname},#{vnameCH},#{attrId},0,SYSDATE(),SYSDATE(),'陈大龙')
    </insert>
   <!-- <delete id="delValById" parameterType="java.lang.Integer">
        delete from shop_value where id=#{id}
    </delete>-->
    <update id="delValById" parameterType="java.lang.Integer">
        update shop_value set isDel=1 where id=#{id}
    </update>
    <update id="updateVal" parameterType="com.fh.dianshang.entity.po.Val">
        update shop_value set vname=#{vname},vnameCH=#{vnameCH},updateDate=SYSDATE() where id=#{id}
    </update>
</mapper>