<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.dianshang.dao.ValDao">
<select id="queryvalDataByIdCount" parameterType="com.fh.dianshang.entity.vo.PinPaiData" resultType="java.lang.Integer">
    select count(*) from shop_value where attrId=#{id}
</select>
    <select id="queryvalDataByIdData" parameterType="com.fh.dianshang.entity.vo.PinPaiData" resultType="com.fh.dianshang.entity.po.Val">
        select * from shop_value where attrId=#{id}  limit ${size*(start-1)},#{size}
    </select>
    <insert id="addVal" parameterType="com.fh.dianshang.entity.po.Val">
        insert into shop_value (vname,vnameCH,attrId) value (#{vname},#{vnameCH},#{attrId})
    </insert>

</mapper>